@tailwind base;
@tailwind components;
@tailwind utilities;

.mdx-h1 {
  font-size: 52px;
  color: #0d1d30;
}

.mdx-h2 {
  font-size: 36px;
  color: #0d1d30;
}

.mdx-p {
  font-size: 20px;
  margin-bottom: 1.5em;
  line-height: 1.6em;
}
